.content {
    padding: 5rem;
    font-family: "Times New Roman", Times, serif;
}
.container {
    display: flex;
}
.container div {
    padding: 0.5rem;
}
.lefthalf {
    flex: 1;
    order: 1;
}
.righthalf {
    flex: 1;
    order: 2;
}

img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}
p {
    text-align: justify;
}

h1 {
    text-align: center;
    font-size: 40px;
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .container {
        /* flex: 50%; */
        flex-direction: column;
    }
}
